<div class="col-md-12">
    <div class="row">

    <div class="col-md-1">
        <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg"
        alt="authors" style="height:60px">
        <a href="/books"><h3 class="sidewise">Books</h3></a>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/d6/ac/26/d6ac2660f86d6936ed3a055481b179f6.jpg"
          alt="authors" style="height:60px">
         <a href="/authors"><h3 class="sidewise">Authors</h3></a>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="thumbnail col-md-11">
            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-3">
                        <img src="{{book.cover_url}}" alt="coverPicture" style="height:270px">
                    </div>
                    <div class="col-md-8 col-md-offset-1">
                        <div class="caption">
                            <h3>{{book.title}}</h3>
                            <h4>By {{#authors}}
                                    {{this}}
                                {{/authors}}
                            </h4>
                            <h4>Genre: {{book.genre}}</h4>
                            <p>{{book.description}}</p>
                            <p><a href="/books/{{book.id}}/edit" class="btn btn-primary" role="button">Edit</a><a href="/books/{{book.id}}/delete" class="btn btn-default" role="button">Delete</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
