<div class="col-md-12">

<div class="row">
    <div class="col-md-1">
        <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg"
        alt="authors" style="height:60px">
        <a href="/books"><h3 class="sidewise">Books</h3></a>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/d6/ac/26/d6ac2660f86d6936ed3a055481b179f6.jpg"
          alt="authors" style="height:60px">
         <a href="/authors"><h3 class="sidewise">Authors</h3></a>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="editForm">
            <legend>Edit</legend>
            <form action="/authors/{{result.id}}/edit" method="post">
                <div class="form-group">
                <label>First Name</label>
                <input type="text" name="first_name" class="form-control" value="{{result.first_name}}">
                </div>
                <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="last_name" class="form-control" value="{{result.last_name}}">
                </div>
                <div class="form-group">
                <label>Portrait URL</label>
                <input type="text" name="portrait_url" class="form-control" value="{{result.portrait_url}}">
                </div>
                <div class="form-group">
                <label>Biography</label>
                <textarea name="biography" class="form-control" value="" rows='6' cols='30'>{{result.biography}}</textarea>
                </div>
                <label>Books</label>
                <div class="form-group">
                {{#books}}
                <p class="form-control">{{title}}<a href="/books/{{id}}/delete"> remove</a></p>
                {{/books}}
                </div>
                <label>Add Books:</label>
                <div class="form-group">
                {{#allBooks}}
                <label><input type="checkbox">{{this}}</input></label><br>
                {{/allBooks}}
                </div>
                <div class="form-group">
                <input type="submit" class="form-control" value="Edit">
                </div>
            </form>
        </div>
    </div>
</div>
