<div class="col-md-12">

<div class="row">
    <div class="col-md-1">
        <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg"
        alt="authors" style="height:60px">
        <a href="/books"><h3 class="sidewise">Books</h3></a>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/d6/ac/26/d6ac2660f86d6936ed3a055481b179f6.jpg"
          alt="authors" style="height:60px">
         <a href="/authors"><h3 class="sidewise">Authors</h3></a>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="editForm">
            <legend>Edit Book</legend>
            <form action="/authors/{{result.id}}/edit" method="post">
                <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" value="{{result.title}}">
                </div>
                <div class="form-group">
                <label>Genre</label>
                <input type="text" name="genre" class="form-control" value="{{result.genre}}">
                </div>
                <div class="form-group">
                <label>Cover URL</label>
                <input type="text" name="cover_url" class="form-control" value="{{result.cover_url}}">
                </div>
                <div class="form-group">
                <label>description</label>
                <textarea name="description" class="form-control" value="" rows='6' cols='30'>{{result.description}}</textarea>
                </div>
                <div class="form-group">
                <label>Authors</label>
                {{#authors}}
                <p class="form-control">{{author}}<a href="/authors/{{id}}/delete"> remove</a></p>
                {{/authors}}
                </div>
                <label>Add Authors:</label>
                <div class="checkbox">
                {{#allAuthors}}
                <label><input type="checkbox">{{author}}</input></label><br>
                {{/allAuthors}}
                </div>
                <div class="form-group">
                <input type="submit"  class="form-control"value="Edit">
                </div>
            </form>
        </div>
    </div>
</div>
